body {
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    color: #000000;
    font-family: "Meiryo";
}

textarea {
    font-family: "Meiryo";
    font-size: 12px;
}

input.submit {
    font-family: "Meiryo";
    font-size: 16px;
    border-radius:5px;
    box-shadow:1px 1px 1px #999;
    /*text-shadow:0px 0px 1px #444;*/
}

input {
    font-family: "Meiryo";
    font-size: 12px;
    /*border-radius:5px;*/
    /*box-shadow:1px 1px 1px #999;*/
    /*text-shadow:0px 0px 1px #444;*/
    border:0;
    border:solid 1px #ccc;
}

button {
    font-family: "Meiryo";
    font-size: 12px;
    border-radius:8px;
    box-shadow:1px 1px 0px #999;
    /*font-weight: bold;*/
    /*text-shadow:0px 0px 1px #555;*/
}

select {
    font-family: "Meiryo";
    font-size: 12px;
    border-radius:5px;
    box-shadow:1px 1px 1px #999;
    /*text-shadow:0px 0px 1px #444;*/
}


table {
    margin: 10px auto;
    text-align: center;
    border: none;
}

table td {
    padding: 3px 10px;
    font-size: 14px;
    vertical-align: middle;
    border: solid 1px #bebebe;
    background: #EFEFEF;
    text-align: center;
}

table th {
    padding: 3px 10px;
    font-size: 14px;
    vertical-align: middle;
    text-align: center;
    border: solid 1px #bebebe;
    background: #5a5a5a;
    color: #fff;
}

table.t1 {
    text-align: center;
    border-spacing: 0px 1px;
    border: none;
}

table.t1 td.tp1 {
    border: none;
    background: #ffffff;
}

table td.tg1 {
    padding: 3px 10px;
    font-size: 14px;
    vertical-align: middle;
    border: solid 1px #d39c81;
    background: #EFEFEF;
    text-align: right;
}

table th.tg1 {
    padding: 3px 10px;
    font-size: 14px;
    vertical-align: middle;
    border: solid 1px #d39c81;
    background: #8c4634;
    color: #fff;
    text-align: center;
}

table td.tg2 {
    padding: 3px 10px;
    font-size: 14px;
    vertical-align: middle;
    border: solid 1px #a19da2;
    background: #EFEFEF;
    text-align: right;
}

table th.tg2 {
    padding: 3px 10px;
    font-size: 14px;
    vertical-align: middle;
    text-align: center;
    border: solid 1px #a19da2;
    background: #000000;
    color: #fff;
}
